################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
side B/my_sim
side B/Makefile
side B/des_tb copy.v
side B/des_tb.v
Testing/